/* styles.css */
body {
    background-color: #f0f2f6;
    font-family: 'Arial', sans-serif;
}

.stButton>button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.stButton>button:hover {
    background-color: #45a049;
}

.stTextInput>div>div>input {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

.stImage {
    padding: 20px 0;
    width: 100px;
    height: 100px;
}